* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik\,Smooch_Sans/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.rubik {
  font-family: "Rubik";
}
.nunito {
  font-family: "Nunito";
}

.to-left {
  grid-column: 1/2;
}
.to-middel {
  grid-column: 2/3;
}
.to-right {
  grid-column: 3/4;
}
