* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LibreBaskerville";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("./assets/fonts/Caveat/Caveat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oregano";
  src: url("./assets/fonts/Oregano/Oregano-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.libreBaskerville {
  font-family: "LibreBaskerville", sans-serif;
}
.caveat {
  font-family: "Caveat", sans-serif;
}
.oregano {
  font-family: "Oregano", sans-serif;
}

.to-left {
  grid-column: 1/2;
}
.to-middel {
  grid-column: 2/3;
}
.to-right {
  grid-column: 3/4;
}

@keyframes rotateBackForth {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.back-and-forth {
  display: inline-block;
  animation: rotateBackForth 2s ease-in-out infinite;
  animation-delay: 5s;
}
