* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "Smooth Sans";
  src: url("./assets/fonts/Smooch_Sans/SmoochSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik\,Smooch_Sans/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.smooth-sans {
  font-family: "Smooth Sans";
}
.rubik {
  font-family: "Rubik";
}
